.sysinfo_right {text-align:right;}

.sysinfo_settings {position: relative; width:100%; clear: both; margin-top: 1.0em;}
.sysinfo_settings fieldset{border-color: green;}
/*.sysinfo_options_block {position: relative; float: right; width: 49%;}
.sysinfo_sections_block {position: relative; float: left; width: 49%;}*/

/*.sysinfo_options {position: relative; float: left; width: 48%; margin-right: 5px; margin-bottom: 3px; border: 1px dotted #A0A0A0;}*/

.sysinfo_options_block .description {margin-left: 1.0em;}
.sysinfo_sections_block .form-item {position: relative; width:100%; clear: both;}
.sysinfo_sections_block .form-item label {position: relative; float: left;}
.sysinfo_sections_block .form-item .description {position: relative; float: left; padding: 0.5em 0 0 1.0em;}

.sysinfo_profile_fields td, th {font-size: 0.8em;}

.sysinfo_sections .sysinfo_options {margin-left: 2.0em;}